body {
    font-family: 'Sora', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(63, 63, 63);
    height: 8%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    color: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_accueil {
    height: auto;
    width: auto; 
    color: white;
    margin-right: 1rem;
    font-size: 1.5rem;
}

.nav_projet {
    height: auto;
    width: auto; 
    color: white;
    margin-right: 1rem;
    font-size: 1.5rem;
}


.main {
    position: fixed;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.video {
    position: fixed;
    top: 0;
    left: 0;
}


.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: rgb(63, 63, 63);
    height: 8%;
    width: 100%;
    margin: 0;
    padding: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
}

